.explorer {
  font: 16px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 971px;

  &__content {
    font-family: Verdana;
    margin: 0 58.5px;
    max-width: 800px;
    padding: 0 22px;
  }

  &__header__banner {
    height: 102px;
  }

  &__result {
    clear: both;
    font-size: 11px;
  }

  &__result-item {
    &__addresses {
      ol {
        margin: 0;
        padding-left: 20px;
      }
      ul {
        list-style-type: none;
      }
    }
  }
}
