.fl_eg_lnavmulti,
.fl_eg_lnavmulti-1,
.fl_eg_lnavmulti-2,
.fl_eg_lnavmulti-3,
.fl_eg_lnavmulti-4,
.fl_eg_lnavmulti-5,
.fl_eg_lnavmulti-6
{  
	color: #000000;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	text-decoration: none;
	white-space: nowrap;
}

.fl_eg_lnavmulti-1 {font-size: 10pt;font-weight: bold;}
.fl_eg_lnavmulti-2 {font-size: 9pt; font-weight: bold;}
.fl_eg_lnavmulti-3 {font-size: 8pt; font-weight: normal;}
.fl_eg_lnavmulti-4 {font-size: 8pt; font-weight: normal;}
.fl_eg_lnavmulti-5 {font-size: 8pt; font-weight: normal;}
.fl_eg_lnavmulti-6 {font-size: 8pt; font-weight: normal;}

a.fl_eg_lnavmulti:hover,
a.fl_eg_lnavmulti-1:hover,
a.fl_eg_lnavmulti-2:hover,
a.fl_eg_lnavmulti-3:hover,
a.fl_eg_lnavmulti-4:hover,
a.fl_eg_lnavmulti-5:hover,
a.fl_eg_lnavmulti-6:hover {color: #999999;}

.fl_eg_lnavmulti-focus,
.fl_eg_lnavmulti-focus-1,
.fl_eg_lnavmulti-focus-2,
.fl_eg_lnavmulti-focus-3,
.fl_eg_lnavmulti-focus-4,
.fl_eg_lnavmulti-focus-5,
.fl_eg_lnavmulti-focus-6
{  
	color: #993333;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	text-decoration: none;
}

.fl_eg_lnavmulti-focus-1 {font-size: 10pt;font-weight: bold;}
.fl_eg_lnavmulti-focus-2 {font-size: 9pt; font-weight: bold;}
.fl_eg_lnavmulti-focus-3 {font-size: 8pt; font-weight: normal;}
.fl_eg_lnavmulti-focus-4 {font-size: 8pt; font-weight: normal;}
.fl_eg_lnavmulti-focus-5 {font-size: 8pt; font-weight: normal;}
.fl_eg_lnavmulti-focus-6 {font-size: 8pt; font-weight: normal;}

a.fl_eg_lnavmulti-focus:hover,
a.fl_eg_lnavmulti-focus-1:hover,
a.fl_eg_lnavmulti-focus-2:hover,
a.fl_eg_lnavmulti-focus-3:hover,
a.fl_eg_lnavmulti-focus-4:hover,
a.fl_eg_lnavmulti-focus-5:hover,
a.fl_eg_lnavmulti-focus-6:hover {color: #993333;}

dt.fl_eg_lnavmulti,   dt.fl_eg_lnavmulti-focus   {margin-left: 0; margin-bottom: 5px;}
dt.fl_eg_lnavmulti-1, dt.fl_eg_lnavmulti-focus-1 {margin-left: 0; margin-bottom: 5px;}
dt.fl_eg_lnavmulti-2, dt.fl_eg_lnavmulti-focus-2 {margin-left: 5px; margin-bottom: 5px;}
dd.fl_eg_lnavmulti-3, dd.fl_eg_lnavmulti-focus-3 {margin-left: 10px; margin-bottom: 5px;}
dd.fl_eg_lnavmulti-4, dd.fl_eg_lnavmulti-focus-4 {margin-left: 20px; margin-bottom: 5px;}
dd.fl_eg_lnavmulti-5, dd.fl_eg_lnavmulti-focus-5 {margin-left: 25px; margin-bottom: 5px;}
dd.fl_eg_lnavmulti-6, dd.fl_eg_lnavmulti-focus-6 {margin-left: 30px; margin-bottom: 5px;}